<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="The project's test suite">
				<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
			<whitelist>
					<directory>./src</directory>
			</whitelist>
	</filter>
</phpunit>
